.venv
.env
tmp
app.egg-info
__pycache__
*~
build
*.egg-info
*.chkpt
.pytest_cache

# Ignore html generated in backend folder
backend/**/*.html
algorithm/wandb
algorithm/slurm_logs/*.out
data/dev/
data/abm/*.parquet
wandb
temp/

venv

.idea
.DS_Store
.vscode
.Rproj.user
.osfcli.config

statistics/output
data/abm_v2